@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

html,
body,
#root,
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-color: #E6E6FA;;
}

body{
    min-height: 100vh;
}

.App{
    display: flex;
    position: relative;
}
